---
layout:     default
title:      Spaceman
subtitle:   Spaceman
section:    index
---

{% for post in site.posts limit:4 %}
    <div class="entry">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="meta">
            <span>{{ post.date | date: "%e %b %Y" }}</span>
            <span>{{ post.date | date: "%H:%M" }}</span>
            {% if post.author %}
                <span>{{ post.author }}</span>
            {% endif %}
        </div>
        <div class="post">
            {% assign lines = post.content | split: '</p>' %}{{ lines[0] }}</p>
        </div>
    </div>
{% endfor %}
