<div class="social">
    <a href="/rss.xml" title="RSS Feed" class="typo rss"></a>
    {% if site.behance %}
        <a href="http://behance.com/{{site.behance}}" title="Behance" class="typo behance"></a>
    {% endif %}
    {% if site.dribbble %}
        <a href="http://dribbble.com/{{site.dribbble}}" title="Dribbble" class="typo dribbble"></a>
    {% endif %}
    {% if site.github %}
        <a href="http://github.com/{{site.github}}" title="GitHub" class="typo github"></a>
    {% endif %}
    {% if site.instagram %}
        <a href="http://instagram.com/{{site.instagram}}" title="Instagram" class="typo instagram"></a>
    {% endif %}
    {% if site.tumblr %}
        <a href="http://{{site.tumblr}}.tumblr.com/" title="Tumblr" class="typo tumblr"></a>
    {% endif %}
    {% if site.twitter %}
        <a href="http://twitter.com/{{site.twitter}}" title="Twitter" class="typo twitter"></a>
    {% endif %}
</div>
